# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
env/
.venv/

# Django stuff
db.sqlite3
*.sqlite3
/media/
staticfiles/
static_root/

# Env / secrets
.env
*.env
.env.*

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.bak

# Tests / mypy cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db
